<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="Food_At_Workplace_API_Automation">
        <classes>
            <class name="testAPI.TestTokenController"/>
            <class name="testAPI.TestCreateAdminAPI"/>
            <class name="testAPI.TestCreateUserAPI"/>
            <class name="testAPI.TestEmployeesController"/>
            <class name="testAPI.TestItemsController"/>
            <class name="testAPI.Order_Controller"/>
        </classes>
    </test>
</suite>